.title{
    text-align:center;
}

h3{
    width:100%;
    margin:auto;
    padding-left: 3%;
    font-size: 24px;
    color: #808080;
    padding-bottom:1%;
    text-align:center;

}

table{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

table th,table td{
  padding: 10px 0;
  text-align: center;
}

table tr:nth-child(odd){
  background-color: #eee
}

.id{
    width:5%;
}

.resipi_title{
    width:30%;
}

.report_action{
    width:20%;
}

.resipi_coments{
    width:45%;
}

.create_btn a{
    width:27%;
    text-align: center;
    padding: .5rem;
    cursor: pointer;
    background-color: #999999;
    color: white;
}

.title_box{
    width: 50%;
    padding: 10px;
    border: 1px solid black;
    text-align: center;

}

table.materials_box{
    width:50%
}

table.content_box td{
    height:50%;

}

.images{
background-size: cover;
  background-position: center center;
  width: 50%;

}

.materials_box{

}