

h3{
    width:70%;
    margin:auto;
    font-size: 24px;
    color: #808080;
    padding-bottom:1%;
    text-align:center;

}

table{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

table th,table td{
  padding: 10px 0;
  text-align: center;
}

table tr:nth-child(odd){
  background-color: #eee
}

.id{
    width:5%;
}

.resipi_title{
    width:40%;
    margin:auto;
}

.report_action{
    width:20%;
}

.resipi_coments{
    width:45%;
    margin:auto;
}

.create_btn a{
    width:27%;
    text-align: center;
    padding: .5rem;
    cursor: pointer;
    background-color: #999999;
    color: white;
}

.title_box{
    width: 50%;
    padding: 10px;
    border: 1px solid black;
    text-align: center;
    margin:auto;

}

table.materials_box{
    width:50%;
    margin-left: auto;
}


.images{
background-size: cover;
  background-position: center center;
  width: 50%;

}

.materials_box td{
    overflow-y: scroll;
}

.materials_box pre{
    font-size:large;
    height:22em;
}

.content_box td{
    overflow-y: scroll;
}

.content_box pre{
    font-size:large;
    height:10em;
}

.coments td{
    height:3em;
    overflow-y: scroll;
    font-size:large;
}

.title_image_material{
    display:flex;
    width:80%;
    text-align:center;
}