@CHARSET "UTF-8";

body {
    color: #333333;
    font-family: "Hiragino Kaku Gothic Pro",Meiryo,"MS PGothic",Helvetica,Arial,sans-serif;
}

#header {
    width: 100%;
    height: 70px;
    background-color: #999999;
    display:flex;
    align-items:center;
}

#header a{
    color: #eeeeee;

}

#header-menu-area {
    text-align: right;
}

#header-menus{
    display:flex;
    width:100%;
}

.title{
    width:70%;
    padding-left: 3%;
    font-size: 24px;

}

#content {
    width: 94%;
    margin-top: 15px;
    padding-left: 3%;
    text-align:center;
}


h2 {
    font-size: 36px;
    margin-bottom: 15px;
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
}

.title a {
    text-decoration: none;
    color: #eeeeee;
}

}

table, tr, th, td {
    border: 1px solid #cccccc;
}

table.myresipi_list{
    width: 100%;
    table-layout: fixed;
}

th {
    width: 26%;
    padding: 10px 2%;
}

td {
    width: 66%;
    padding: 10px 2%;
}

button {
    font-size: 14px;
    padding: 5px 10px;
}

#footer {
    text-align: center;
}
.imageA{
 text-align: center;
}

.menu{
    justify-content: center;
    align-items: center;
    display: flex;
}

