<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>mainiti_resipi</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controllers.login.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>KaimonolistsCreate</servlet-name>
    <servlet-class>controllers.kaimonolists.KaimonolistsCreate</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>KaimonolistsIndex</servlet-name>
    <servlet-class>controllers.kaimonolists.KaimonolistsIndex</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>KaimonolistsDestroy</servlet-name>
    <servlet-class>controllers.kaimonolists.KaimonolistsDestroy</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>controllers.login.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TopPageIndexServlet</servlet-name>
    <servlet-class>controllers.toppage.TopPageIndexServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserNew</servlet-name>
    <servlet-class>controllers.user.UserNew</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>KaimonolistsCreate</servlet-name>
    <url-pattern>/kaimonolists/create</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>KaimonolistsIndex</servlet-name>
    <url-pattern>/kaimonolists/index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>KaimonolistsDestroy</servlet-name>
    <url-pattern>/kaimonolists/destroy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TopPageIndexServlet</servlet-name>
    <url-pattern>/index.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserNew</servlet-name>
    <url-pattern>/users/new</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>filters.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>listeners.PropertiesListener</listener-class>
  </listener>
</web-app>